.main-container {
    width: 200px;
    margin: 0 auto;
    align-content: center;
    background-color: aqua;
    // margin: auto 0;
}
a {
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    background-color: darkorange;
    color: black;
    text-align: center;
    width:100%;
}